@font-face {
    font-family: 'Cairo';
    src: url('../storage/fonts/Cairo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary-color:#032221;
    --secondary-color:#03624c;
    --whites:#f1f7f6;
    --gray: #707d7d;
}
body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
}
form{
    text-align: center;
}
.board{
    padding: 10px;
    width: 76vw;
    height: 95vh;
    
    color: var(--blacks);
}
.side{
    width: 25vw;
    height: 95vh;
    padding: 10px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
   
   
    

}   
.chick-in{
    background-color: var(--whites);
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
.oon{
    /* background-color: var(--whites); */
    width: 20vw;
    display: flex;
    justify-content: center;
    
    place-self: center;
    flex-direction: row;
    gap: 25px;
}
.but{
    width: 60px;
    height: 40px;
    background-color: var(--secondary-color);
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.but:hover{
    background-color: var(--primary-color);
    transition: 50ms ease;
}
/* From Uiverse.io by e-coders */
.button1 {
    appearance: none;
    background-color: var(--blacks);
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: var(--blacks);
    cursor: pointer;
    display: inline-block;
    font-family: 'Cairo',sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
   
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button1:disabled {
    pointer-events: none;
}

.button1:hover {
    color: #fff;
    background-color: var(--primary-color);
    
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button1:active {
    box-shadow: none;
    transform: translateY(0);
} 
.inp-text{
    width: 250px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--gray);
    border: transparent;
    color: #1A1A1A;
}
.inp-text:focus {
    outline: none;
    
    box-shadow: 0 0 5px var(--secondary-color);
    transition: all 0.3s ease;
    background-color: #f1f1f1;
}

.input-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 5px;
    text-align: center;
    align-items: center;
}
.input-form label{
   
    width: 7vw;
}
.inp-text label{
   
    width: 7vw;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.new-form{
    gap: 10px;
    height: 35vh;
}
.old-form{
    height: 35vh;
}
.list-container{
    width: 100%;
    height: 99%;
    background-color: var(--whites);
    box-shadow: #1A1A1A;
    place-self: center;
    border-radius: 15px;
    padding-top: 5px;
    overflow: hidden;
}
.table1{
    width: 99%;
    background-color: var(--secondary-color);
    padding: 3px;
    place-self: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: var(--whites);
    display: flex;
    flex-direction: column;
}

.table1 tbody {
    display: block;
    overflow-y: auto;
    max-height: 86vh;
}
.table1 thead, .table1 tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.table1 .data{
    background-color: var(--gray);
    text-align: center;
}
.table1 th, .table1 td {
    padding: 10px;
    width: calc(100% / 7);
}
/* From Uiverse.io by Madflows */
.button2 {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #1A1A1A;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button2:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            #014132 10.8%,
            #032221 94.3%);
    transition: all 0.475s;
}
.top-menu{
    background-color: var(--whites);
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}
.user{
    transition: 50ms all ease;
}
.user:hover{
    transform: scale(1.1) ;
    
}
.settings{
    transition:70ms all ease ;
}
.settings:hover{
    transform: scale(1.1) ;
}
.history{
    transition: 70ms all ease;
}
.history:hover{
    transform: scale(1.1);
}